body{
    font-family: "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans
    serif;
    color: white;
    font-size: 12px;
    background: #333;
    background-image: url(../img/fondo3.jpg);
	background-attachment: fixed;
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#nuevo{
    color: black;
}


form{
    font-family: "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans
    serif;
    width: 50%;
    background-color: black;
    color: white;
    font-size: 12px;
    background:black;
    border-radius: 20px;
    position: relative;
    top: 35px;
    left: 36%
}
 

form:after {
  content: "";
  display: block;
  position: absolute;
  height: 1px;
  width: 120px;
  left: 20%;
  background: linear-gradient(to right, #111111, #444444, #b6b6b8, #444444, #111111);
  top: 0;
}
form h1 {
  font-size: 25px;
  text-shadow: 0 1px 0 black;
  text-align: center;
  padding: 15px 0;
  border-bottom: 3px solid white;
  position: relative;
}

form{
    
content: "";
  display: block;
  position: absolute;
  height: 1px;
  width: 120px;
  left: 20%;
  background: linear-gradient(to right, #111111, #444444, #b6b6b8, #444444, #111111);
  top: 0;
}
h1 {
  font-size: 25px;
  text-shadow: 0 1px 0 black;
  text-align: center;
  padding: 15px 0;
  border-bottom: 3px solid white;
  position: relative;
}

#nuevo{
    width: 80%;
    text-align: center;
    color: black;
}
#datos_efectivo{
    margin-top: 450px;
    width: 80%;
    text-align: center;
    color: black;
}

#nuevo2{
    color: black;
    width: 80%;
    text-align: center;
}
/*RESPONSIVE*/
@media screen and (max-width:1024px){
    
    .container {
			width:100%;
		}
		section {
			width:100%;
		}

    
    body{
    font-family: "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans
    serif;
    color: white;
    background-image: url(../img/fondo3.jpg);
	background-attachment: fixed;
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
 h1 {
  font-size: 25px;
  text-shadow: 0 1px 0 black;
  text-align: center;
  padding: 15px 0;
  border-bottom: 3px solid white;
  position: relative;
}
}